{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet"
          href="{% static 'css/grasp_mobile_progress_circle-1.0.0.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'css/style.blue.premium.css' %}"
          id="theme-stylesheet">
    {#    <!-- Tweaks for older IEs--><!--[if lt IE 9]>#}
    {#    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
    {#    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->#}
{% endblock %}
{% block content %}
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <!-- Sidebar Header    -->
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <!-- User Info-->
                <div class="sidenav-header-inner text-center">
                    <h2 class="h5">
                        {{ user.get_full_name }}</h2><span>Staff</span>
                </div>
                <!-- Small Brand information, appears on minimized sidebar-->
                <div class="sidenav-header-logo"><a href="{% url 'home' %}"
                                                    class="brand-small text-center">
                    <strong>CloudBased</strong><strong
                        class="text-primary">LMS</strong></a></div>
            </div>
            <!-- Sidebar Navigation Menus-->
            <div class="main-menu">
                {#            <h5 class="sidenav-heading">Main</h5>#}
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li><a href="{% url 'dashboard' %}"> <i
                            class="fas fa-chart-bar"></i>Dashboard</a></li>
                    <li>
                        <a href="#booksDropdown" aria-expanded="false"
                           data-toggle="collapse">
                            <i class="fas fa-book-open"></i>Books
                        </a>
                        <ul id="booksDropdown" class="collapse list-unstyled ">
                            <li><a href="{% url 'add_book' %}">Add new book</a>
                            </li>
                            <li><a href="{% url 'books_staff' %}">View
                                Books</a></li>
                        </ul>
                    </li>
                    <li><a data-toggle="modal" href="#"
                           data-target="#findUser"> <i
                            class="fas fa-user-check"></i>Find User</a></li>
                    <li><a href="{% url 'defaulters' %}"> <i
                            class="fas fa-users"></i>Defaulters</a></li>
                    {#                    <li><a href="{% url 'messages' %}"> <i class="icon-envelope-letter"></i>User Messages</a></li>#}
                    <li><a href="{% url 'logout' %}"> <i
                            class="fas fa-sign-out-alt"></i>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="findUser" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true" class="modal fade text-left">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="exampleModalLabel"
                        class="modal-title">Find User</h5>
                    <button type="button"
                            data-dismiss="modal"
                            aria-label="Close"
                            class="close"><span
                            aria-hidden="true">×</span>
                    </button>
                </div>
                <form action="{% url 'find_user' %}"
                      method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text"
                                   placeholder="Username (case-sensitive)"
                                   class="form-control"
                                   required name="username">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                data-dismiss="modal"
                                class="btn btn-secondary">
                            Close
                        </button>
                        <button type="submit"
                                class="btn btn-primary">
                            Go to User's Profile
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% block main %}

    {% endblock %}
{% endblock %}
{% block scripts %}
    <!-- JavaScript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/grasp_mobile_progress_circle-1.0.0.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/charts-home.js' %}"></script>
    <script src="{% static 'js/bs-charts.js' %}"></script>

{% endblock %}