{% extends 'base_nav.html' %}
{% load static %}
{% block content %}
    <ol class="breadcrumb text-white" style="background-color: #f4476b;">
        <li class="breadcrumb-item">
            <a href="{% url 'profile' user.username %}">
                <span class="text-white">Home</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'books' %}">
                <span class="text-white">Library</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'book' book.id %}">
                <span class="text-white">{{ book.title }}</span>
            </a>
        </li>
    </ol>
    <div class="container-fluid d-flex justify-content-center align-self-center"
         style="margin-top: 30px; margin-bottom: 30px">
        <div class="card pulse animated" style="width: 800px;">
            <div class="card-body">
                <div class="row">
                    <div class="col d-flex justify-content-center
                    align-items-center"><img class="d-block" style="height:
                    100%;width: 100%;" src="{{ book.image.url }}"></div>
                    <div class="col-lg-7">
                        <h4>{{ book.title }}</h4>
                        <h6 class="text-muted mb-2">{{ book.author }}</h6>
                        <p>{{ book.description }}<br><br></p>

                        {% if user.is_staff %}
                            <a class="btn btn-outline-dark btn-block"
                               role="button"
                               href="{% url 'history'  book.id %}">
                                <i class="icon-notebook"></i>View History
                            </a>
                            <a class="btn btn-outline-dark btn-block"
                               role="button"
                               href="{% url 'edit_book'  book.id %}">
                                <i class="icon-pencil"></i>Edit Details
                            </a>
                        {% else %}
                            {% if available %}
                                <a class="btn btn-outline-dark btn-block"
                                   role="button"
                                   href="{% url 'reserve'  book.id %}">
                                    <i class="icon-lock"></i>Reserve Book
                                </a>
                            {% else %}
                                <a class="btn btn-outline-dark btn-block"
                                   role="button" disabled=""
                                   href="{% url 'reserve'  book.id %}">
                                    <i class="icon-lock"></i>Reserve Book
                                </a>
                                <h6 class="text-secondary"><em>This book is
                                    currently not available for pick
                                    up. Check back tomorrow.</em></h6>
                            {% endif %}
                        {% endif %}
                        <br/>
                        <h6 style="color: #f4476b;"><em>Location:
                            {{ book.location }}</em></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}