{% extends 'base_nav.html' %}
{% block content %}
    <ol class="breadcrumb text-white" style="background-color: #f4476b;">
        <li class="breadcrumb-item">
            <a href="{% url 'profile' user.username %}">
                <span class="text-white">Home</span>
            </a>
        </li>
        <li class="breadcrumb-item"><a href="{% url 'faq' %}"><span
                class="text-white">Frequently Asked Questions</span></a></li>
    </ol>
    <div class="container">
        <h1 class="text-center" style="color: #f4476b;margin: 30px;">Frequently
            Asked Questions</h1>
        <div role="tablist" id="accordion-1">
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <a class="text-dark"
                           data-toggle="collapse"
                           aria-expanded="true"
                           aria-controls="accordion-1 .item-1"
                           href="#accordion-1 .item-1">
                            How many books can I request at a time?
                        </a>
                    </h5>
                </div>
                <div class="collapse show item-1" role="tabpanel"
                     data-parent="#accordion-1">
                    <div class="card-body">
                        <p class="card-text">You can reserve as many books
                            as you want but all reserved books must be
                            collected within 24 hours. Also, note that you
                            cannot collect more than one book from the
                            library at any point in time.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <a class="text-dark"
                           data-toggle="collapse"
                           aria-expanded="false"
                           aria-controls="accordion-1 .item-2"
                           href="#accordion-1 .item-2">
                            What can I do if a book I need is not
                            available?
                        </a>
                    </h5>
                </div>
                <div class="collapse item-2" role="tabpanel"
                     data-parent="#accordion-1">
                    <div class="card-body">
                        <p class="card-text">There are a wide variety of
                            books available for you in the library. You can
                            use the search
                            option to browse for books that are similar or
                            you can check back on the site daily to see when
                            there is a copy available for you to pick up.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <a class="text-dark"
                           data-toggle="collapse"
                           aria-expanded="false"
                           aria-controls="accordion-1 .item-3"
                           href="#accordion-1 .item-3">
                            Where do I return a book I borrowed?
                        </a>
                    </h5>
                </div>
                <div class="collapse item-3" role="tabpanel"
                     data-parent="#accordion-1">
                    <div class="card-body">
                        <p class="card-text">You are to take the book back
                            to the library and hand it over to the
                            librarian. You can check your online profile
                            before you leave the library to make
                            sure it has been updated accordingly.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <a class="text-dark"
                           data-toggle="collapse"
                           aria-expanded="false"
                           aria-controls="accordion-1 .item-3"
                           href="#accordion-1 .item-4">
                            Where can I check out books?
                        </a>
                    </h5>
                </div>
                <div class="collapse item-4" role="tabpanel"
                     data-parent="#accordion-1">
                    <div class="card-body">
                        <p class="card-text">You can checkout books
                            physically in the library with or without
                            reservations so long as they are available. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab">
                    <h5 class="mb-0">
                        <a class="text-dark"
                           data-toggle="collapse"
                           aria-expanded="false"
                           aria-controls="accordion-1 .item-5"
                           href="#accordion-1 .item-5">
                            Can I renew books?
                        </a>
                    </h5>
                </div>
                <div class="collapse item-5" role="tabpanel"
                     data-parent="#accordion-1">
                    <div class="card-body">
                        <p class="card-text">Online renewals of collected books
                            are not allowed. You have to take the
                            book back to the library before the due date
                            for it to be checked in. Inform the librarian
                            that you are there for a book renewal and they will
                            reset the clock for the aforementioned book.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}>