{% extends 'base_nav.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <ol class="breadcrumb text-white" style="background-color: #f4476b;">
        <li class="breadcrumb-item">
            <a href="{% url 'profile' user.username %}">
                <span class="text-white">Home</span>
            </a>
        </li>
        <li class="breadcrumb-item"><a
                href="{% url 'notifications' %}"><span
                class="text-white">My Notifications</span></a></li>
    </ol>
    <div class="container">
        <h1 class="text-center" style="color: #f4476b;margin: 30px;">
            Notifications for Overdue books</h1>
        <div role="tablist" id="accordion-1">
            {% for notification in notifications %}
                <div class="card">
                    <div class="card-header" role="tab">
                        <div class="d-flex">
                            <h5 class="mb-0">
                                <a class="text-dark"
                                   data-toggle="collapse"
                                   aria-expanded="true"
                                   aria-controls="accordion-1 .item-1"
                                   href="#accordion-1 .item-{{ notification.id }}">
                                    {{ notification.book.title }} by
                                    {{ notification.book.author }}
                                </a>
                            </h5>
                            {% if notification.read is False %}
                                <div class="badge badge-primary ml-auto"
                                     style="background-color: #8e2344;">
                                    New!
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="collapse show item-{{ notification.id }}"
                         role="tabpanel"
                         data-parent="#accordion-1">
                        <div class="card-body">
                            <p class="card-text">This book was collected
                                from the library on
                                {{ notification.checkout.collected_date }}
                                and is yet to be returned.
                                As of {{ notification.time|date }}, The
                                amount of time allowed for
                                you to keep the book you have borrowed has
                                elapsed. Kindly return the book to
                                the library so that it can be available to
                                other readers.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}